<section class="about-me container section" id="about-me">
  <h2 class="visually-hidden">About Me</h2>
  <div class="text-image">
    <h3 class="about-me-discription">
      I work with people all over the world to create impressive and
      <span class="highlight">functional</span>
      <span class="highlight-web">websites</span> that reflect each client's
      unique personality.
    </h3>
    <picture>
      <source
        srcset="
          /img/about-me/about-me-mobil@2x.jpg 2x,
          /img/about-me/about-me-mobil.jpg    1x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          /img/about-me/about-me-tabl@2x.jpg 2x,
          /img/about-me/about-me-tabl.jpg    1x
        "
        media="(min-width: 768px)"
      />
      <img
        src="/img/about-me/about-me.jpg"
        alt="Lloyd Jefferson"
        class="profile-image"
      />
    </picture>
  </div>

  <div class="accordion">
    <ul>
      <li class="accordion-item active">
        <button class="accordion-header active">
          About Me
          <span class="icon-container">
            <svg class="icon-accordion">
              <use xlink:href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-content">
          <p>
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p>
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-header">
          Role
          <span class="icon-container">
            <svg class="icon-accordion">
              <use xlink:href="/img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-content">
          <p>Frontend development</p>
          <p>HeadlessCMS,Wordpress</p>
          <p>Blender(enjoy)</p>
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-header">
          Education
          <span class="icon-container">
            <svg class="icon-accordion">
              <use xlink:href="/img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-content">
          <p>
            2018 - 2019 / Frontend Development Diploma, GoIT IT <br />
            School, New York
          </p>

          <p>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT <br />
            School, New York
          </p>

          <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="skills-container">
    <div class="skills-swiper swiper-container swiper">
      <ul class="skills-list swiper-wrapper">
        <li class="skills-item swiper-slide active">HTML/CSS</li>
        <li class="skills-item swiper-slide">JavaScript</li>
        <li class="skills-item swiper-slide">React</li>
        <li class="skills-item swiper-slide">Node. js</li>
        <li class="skills-item swiper-slide">React Native</li>
        <li class="skills-item swiper-slide">Soft skills</li>
        <li class="skills-item swiper-slide">Git Hub</li>
      </ul>
    </div>
    <div class="skills-but">
      <svg width="28" height="28">
        <use xlink:href="/img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>

<!-- Swiper Styles -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Swiper Script -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
