<section class="hero-section"> 
    
    <div class="social-network">

    <h1 class="hero-title">
    Hello. <br />
    I'm fullstack developer Lloyd Jefferson.
    </h1>
     
        <ul class="social-link">
            <li class="social-item">
                <a
                href="https://www.instagram.com/goitclub/ "
                target="_blank"
                aria-label="link to Instagram">IG</a>
            </li>
            <li class="social-item">
                <a
                href=" https://www.facebook.com/goITclub/ "
                target="_blank"
                aria-label="link to Facebook">FB</a>
            </li>
            <li class="social-item">
                <a
                href="https://www.youtube.com/c/GoIT" 
                target="_blank"
                aria-label="link to YouTube">YT</a>
            </li>
            <li class="social-item">
                <a
                href="https://github.com/JohnnyTakert/project-JSpectra"
                target="_blank"
                aria-label="link to GitHub">GH</a>
            </li>
            <li class="social-item">
                <a class="email"
                href="mailto:lloydjefferson@gmail.com"
                target="_blank"
                aria-label="link to email">lloydjefferson@gmail.com</a>
            </li>
        </ul>

    </div>

</section>