<div class="mobile-menu">
  <div class="menu-container">
    <button class="mobile-button" type="button">
      <svg class="mobile-close-button" width="28" height="28">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="menu-wrapper">
      <nav class="mob-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a href="#about-me">About me</a>
          </li>
          <li class="mob-menu-item">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="mob-menu-item">
            <a href="#projects">Projects</a>
          </li>
          <li class="mob-menu-item">
            <a href="#faq-section">FAQ</a>
          </li>
        </ul>
      </nav>
      <a class="mob-order" href="#work-together">Order the project</a>
    </div>
  </div>
</div>
