<section class="projects section" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper projects-swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-item swiper-slide">
          <div class="projects-info">
            <div class="projects-tags">
              <p class="projects-tags-item">#react</p>
              <p class="projects-tags-item">#js</p>
              <p class="projects-tags-item">#node js</p>
              <p class="projects-tags-item">#git</p>
            </div>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/JohnnyTakert/project-JSpectra"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-img-container">
            <img
              class="projects-image"
              srcset="./img/projects/read-book@2x.jpg"
              src="./img/projects/read-book.jpg"
              alt="Projects1"
            />
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="projects-info">
            <div class="projects-tags">
              <p class="projects-tags-item">#react</p>
              <p class="projects-tags-item">#js</p>
              <p class="projects-tags-item">#node js</p>
              <p class="projects-tags-item">#git</p>
            </div>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/JohnnyTakert/project-JSpectra"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-img-container">
            <img
              class="projects-image"
              srcset="./img/projects/pet-love@2x.jpg"
              src="./img/projects/pet-love.jpg"
              alt="Projects2"
            />
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="projects-info">
            <div class="projects-tags">
              <p class="projects-tags-item">#react</p>
              <p class="projects-tags-item">#js</p>
              <p class="projects-tags-item">#node js</p>
              <p class="projects-tags-item">#git</p>
            </div>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/JohnnyTakert/project-JSpectra"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-img-container">
            <img
              class="projects-image"
              srcset="./img/projects/register@2x.jpg"
              src="./img/projects/register.jpg"
              alt="Projects3"
            />
          </div>
        </li>
      </ul>

      <div class="projects-button-container">
        <button class="swiper-button-prev btn-prev" type="button">
          <svg class="btn-icons" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next btn-next" type="button">
          <svg class="btn-icons" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
