<section class="projects">
  <h2 class="projects-title">Projects</h2>
  <div class="swiper container">
    <ul class="projects-list swiper-wrapper">
      <li class="projects-item swiper-slide">
        <div class="projects-info">
          <div class="projects-tags">
            <p class="projects-tags-item">#react</p>
            <p class="projects-tags-item">#js</p>
            <p class="projects-tags-item">#node js</p>
            <p class="projects-tags-item">#git</p>
          </div>
          <h3 class="projects-subtitle">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            class="projects-link"
            href="https://github.com/JohnnyTakert/project-JSpectra"
            target="_blank"
            >See project</a
          >
        </div>
        <img
          class="projects-image"
          srcset="
            ./img/projects/read-book.jpg    1x,
            ./img/projects/read-book@2x.jpg 2x
          "
          alt="Projects1"
        />
      </li>
      <li class="projects-item swiper-slide">
        <div class="projects-info">
          <div class="projects-tags">
            <p class="projects-tags-item">#react</p>
            <p class="projects-tags-item">#js</p>
            <p class="projects-tags-item">#node js</p>
            <p class="projects-tags-item">#git</p>
          </div>
          <h3 class="projects-subtitle">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            class="projects-link"
            href="https://github.com/JohnnyTakert/project-JSpectra"
            target="_blank"
            >See project</a
          >
        </div>
        <img
          class="projects-image"
          srcset="
            ./img/projects/pet-love.jpg    1x,
            ./img/projects/pet-love@2x.jpg 2x
          "
          alt="Projects2"
        />
      </li>
      <li class="projects-item swiper-slide">
        <div class="projects-info">
          <div class="projects-tags">
            <p class="projects-tags-item">#react</p>
            <p class="projects-tags-item">#js</p>
            <p class="projects-tags-item">#node js</p>
            <p class="projects-tags-item">#git</p>
          </div>
          <h3 class="projects-subtitle">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            class="projects-link"
            href="https://github.com/JohnnyTakert/project-JSpectra"
            target="_blank"
            >See project</a
          >
        </div>
        <img
          class="projects-image"
          srcset="
            ./img/projects/register.jpg    1x,
            ./img/projects/register@2x.jpg 2x
          "
          alt="Projects3"
        />
      </li>
    </ul>

    <div class="projects-button-container">
      <button class="btn-prev" type="button">
        <svg class="btn-icons" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="btn-next" type="button">
        <svg class="btn-icons" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
