<section class="section reviews-section">
  <div class="container reviews-container">
    <h2 class="reviews-header">Reviews</h2>
    <swiper-container>
        <div class="swiper">
            <div class="swiper-wrapper"></div>
        </div>
      <div class="buttons">
      <button class="swiper-btn-prev reviews-swiper-btn-prev" type="button"  aria-label="Previous">
       <svg class="button-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="swiper-btn-next reviews-swiper-btn-next" type="button" aria-label="Next">
         <svg class="button-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      </div>
    </swiper-container>
  </div>
</section>


