:root {
  --color1: #1c1d20;
  --color2: #242527;
  --color3: #3b3b3b;
  --color4: #ed3b44;
  --color5: #fafafa;
}

body {
  background-color: var(--color1);
  font-family: 'Inter Tight', sans-serif;
  color: var(--color5);
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1440px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
