.reviews-header {
    text-transform: uppercase;
font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--title-color);
    margin-bottom: 32px;
}

.buttons {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.reviews-swiper-btn-prev,
.reviews-swiper-btn-next {
    border: 1px solid var(--title-color);
        border-radius: 60px;
        padding: 14px;
        width: 52px;
        height: 52px;
        background-color: var(--gradient-color);
}


.button-icon {
fill: none;
    stroke: var(--text-color);
}

.not-found {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--title-color);
    padding: 20px;
}

.reviews-section-swiper-slide {
    border: 1px solid var(--border-light);
    border-radius: 20px;
    padding: 32px 24px;
    max-width: 344px;
    min-height: 302px;
}
.reviews-section-swiper-slide:not(:last-child) {
    margin-right: 16px;
}

.review-picture {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}

.reviews-text-info {
    width: 295px;
        height: 158px;
        overflow: auto;
}

.author-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}

.text-review {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--text-color2);
}

.reviews-swiper-btn-prev:disabled,
.reviews-swiper-btn-next:disabled {
    border: 1px solid var(--border-light);
    cursor: not-allowed;
}


.reviews-swiper-btn-prev:disabled .button-icon,
.reviews-swiper-btn-next:disabled .button-icon {
    stroke: var(--accent-color);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-background-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-background2-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-background3-color);
}

@media only screen and (min-width: 768px) {
    .buttons {
        gap: 20px;
    }
        .swiper-btn-prev,
        .swiper-btn-next {
            padding: 18px;
                width: 68px;
                height: 68px;
        }

         .button-icon {
            width: 32px;
            height: 32px;
         }

         .reviews-text-info {
            width: 296px;
         }


}

@media only screen and (min-width: 1440px) {
    .reviews-section-swiper-slide {
    max-width: 332px;
    height: 302px;
    }

        .reviews-text-info {
        width: 284px;
        }
}